#pongArea {
    position: relative;
    width: 800px;
    height: 400px;
    background-color: #000;
    margin-left: 30px;
    display: block;
    font-family: Sans MS, Comic Sans, cursive;
    font-weight: bold;
}

#paddle, #ball {
    position: absolute;
    display: block;
   
}

#paddle {
    width: 10px;
    height: 100px;
    background-color: #00ccff;
    left: 20px;
    top: 150px;
}

#ball {
    width: 10px;
    height: 10px;
    background-color: #fff;
    left: 50%;
    top: 50%;
}